[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    C0209, # consider-using-f-string
    R0913, # too-many-arguments

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

